.main_container {
    display: flex;
}

.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 95vh;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    .emptyDiv {
        margin-top: 20px;
    }

    .addBtn {
        margin-top: 20px;
        padding: 5px 15px;
        border-radius: 15px;
        background-color: #c8b8ab;
        border-color: transparent;
        box-shadow: 0px 0px 10px rgba(119, 99, 90, 0.8);
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px rgb(93, 67, 55);
        }
    }

    .search {
        padding: 5px 10px;
        border-color: #c8b8ab;
        margin-bottom: 10px;

        &::placeholder {
            color: black;
        }

        &:focus {
            outline: none;
            border-color: #c8b8ab;
        }
    }
}

.flexRow {
    padding: 0 60px;
    padding-top: 20px;
    width: 80vw;
    height: 95vh;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}


.wrapper {
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 5%;
}

.horse_container {
    margin: 1.5% 0;
    width: 30%;
    height: 22%;
    box-shadow: 0px 0px 25px rgba(119, 99, 90, 1);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 15px;
    }

    .container {
        margin-top: 10px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .info {
            margin-bottom: 10px;
        }
    }

    .btn_div {
        display: flex;
        justify-content: center;
        width: 100%;

        .horseBtn {
            margin-right: 10px;
            padding: 5px 10px;
            background-color: #c8b8ab;
            border-radius: 10px;
            border: none;
            margin-bottom: 10px;

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px rgb(79, 63, 56);
            }
        }
    }

    .label {
        font-weight: bold;
        margin-right: 10px;
    }
}

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    background-color: #c8b8ab;
    box-shadow: 0px 0px 25px rgba(119, 99, 90, 1);
    border-radius: 30px;
    z-index: 100;
    padding: 0 20px;

    .title {
        margin: 10px 0;
    }

    .form_group {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        & > label {
            margin-bottom: 5px;
        }
    }

    .form_select {
        align-self: start;

        & > label {
            margin-right: 10px;
        }
    }

    .flex {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .Btns {
            padding: 3px 10px 3px 10px;
            border-radius: 5px;
            margin: 10px 5px 0 5px;
            background-color: rgba(119, 99, 90, 1);
            &:hover {
                cursor: pointer;
            }
        }
    }
}
