.main_container {
    display: flex;
}

.navbar {
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        margin: 20px 0px 20px 0px;
    }

    .personal_info_nav {
        .name {
            text-align: center;
        }

        .job {
            text-align: center;
            opacity: 0.6;
            margin-top: 7px;
            margin-bottom: 60px;
        }
    }
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 95vh;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 60px;

    .upper {
        margin-top: 40px;
        width: 75vw;
        height: 25%;
        display: flex;
        justify-content: space-between;

        .content {
            width: 24vw;
            height: 100%;
            box-shadow: 0px 0px 25px rgba(119, 99, 90, 1);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;

            .title {
                margin-top: 20px;
                font-size: 2rem;
            }

            .info {
                margin-top: 15px;
                font-size: 1.25rem;
            }

            .select {
                text-align: center;
                padding: 2.5px;
                margin-top: 10px;
                border-radius: 10px;
                background-color: #c8b8ab;
                box-shadow: 0 0 3.5px black;

                &:focus-visible {
                    outline: none;
                }
            }

            .salary {
                margin-top: 20px;
                font-size: 3rem;
            }

            .favorite {
                margin-top: 30px;
                font-size: 3rem;
            }

            @media only screen and (max-width: 1500px) {
                .title {
                    font-size: 1.5rem;
                }

                .info {
                    font-size: 1rem;
                }

                .salary {
                    font-size: 2rem;
                }

                .favorite {
                    font-size: 2rem;
                }
            }

            @media only screen and (max-width: 1200px) {
                .info {
                    font-size: 0.9rem;
                }
            }

            @media only screen and (max-width: 1000px) {
                .info {
                    margin-top: 25px;
                }
            }
        }
    }

    .chart {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 75vw;
        height: 75%;
        box-shadow: 0px 0px 25px rgba(119, 99, 90, 1);
        border-radius: 30px;
    }
}

.menu_side {
    display: none;
    position: fixed;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.menu {
    display: none;
    align-self: flex-end;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.menu_hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .menu,
    .menu_side {
        display: block;
    }

    .navbar {
        position: fixed;
        width: 200px;
        height: 100vh;
        margin-left: 0;
        background-color: #c6beb9;
        z-index: 99;
    }

    .main_content {
        background-color: #c8b8ab;
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;
        overflow:scroll;

        .upper {
            width: 85vw;

            .content {
                width: 27.5vw;
                background-color: #fff;
            }
        }

        .chart {
            width: 85vw;
            background-color: #fff;
        }
    }
}

@media only screen and (max-width: 850px) {
    .main_content {
        .upper {
            flex-direction: column;
            height: 50vh;
            width: 85vw;

            .content {
                width: 100%;
                height: 15.5vh;

                .select {
                    padding: 0;
                }

                .title {
                    font-size: 1.125rem;
                    margin-top: 10px;
                }

                .info {
                    margin-top: 2.5px;
                    margin-bottom: 2.5px;
                }

                .salary {
                    margin-top: 5px;
                }

                .favorite {
                    margin-top: 15px;
                }
            }
        }

        .chart {
            height: 50vh;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}
