.main_container {
    display: flex;
}

.navbar {
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        margin: 20px 0px 20px 0px;
    }

    .personal_info_nav {
        .name {
            text-align: center;
        }

        .job {
            text-align: center;
            opacity: 0.6;
            margin-top: 7px;
            margin-bottom: 60px;
        }
    }
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 95vh;
    margin-top: 20px;
    background-color: #efefef;
    border-radius: 60px;

    .date_container {
        display: flex;
        justify-content: center;
        width: 95%;

        .arrowBtn {
            margin: 0 5px 0 5px;
        }

        .arrow {
            height: 15px;
            width: 15px;
        }
    }

    .addBtn {
        margin-top: 10px;
    }

    .lesson_container {
        margin-top: 13px;
        width: 95%;
        height: 5%;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        display: flex;
        align-content: flex-start;
        align-items: center;
        position: relative;

        .content {
            margin-left: 10px;
        }

        .deleteBtn {
            margin-top: 30px;
        }
    }
}

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    background-color: #efefef;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 100;
    width: 30%;
    height: 20%;
}

.check_time {
    display: flex;
    height: 30%;
}
