.container {
    display: flex;
}

.banner {
    width: 60%;
    height: 100vh;
    background-image: url("../../assets/images/kenny-webster-QrJc1RVI7uM-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    width: 40%;
    align-self: center;
    padding: 0 120px;
}

@media only screen and (max-width: 1400px) {
    .form {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .banner {
        display: none;
    }

    .form {
        width: 100%;
        padding: 0 200px;
    }
}

@media only screen and (max-width: 700px) {
    .form {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 500px) {
    .form {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 400px) {
    .form {
        padding: 0 30px;
    }
}