.container {
    display: flex;
}

.banner {
    width: 60%;
    height: 100vh;
    background-image: url("../../assets/images/kenny-webster-QrJc1RVI7uM-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    width: 40%;
    align-self: center;
    padding: 0rem 120px;
}