.main_container {
    display: flex;
}

.navbar {
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        margin: 20px 0px 20px 0px;
    }

    .personal_info_nav {
        .name {
            text-align: center;
        }

        .job {
            text-align: center;
            opacity: 0.6;
            margin-top: 7px;
            margin-bottom: 60px;
        }
    }
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 95vh;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    .addBtn {
        margin-top: 20px;
        padding: 5px 15px;
        border-radius: 15px;
        background-color: #c8b8ab;
        border-color: transparent;
        box-shadow: 0px 0px 10px rgba(119, 99, 90, 0.8);
        margin-bottom: 20px;
    }

    .wrapper_container {
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        }

        .student_container {
            margin: 1.5% 0;
            width: 65%;
            box-shadow: 0px 0px 25px rgba(119, 99, 90, 1);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .svg {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            .name {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 10px;
            }

            .wrapper {
                display: flex;
                width: 90%;
                justify-content: space-between;

                .container {
                    margin: 0 20px;
                    margin-top: 10px;
                    font-size: 1.125rem;
                    display: flex;
                    flex-direction: column;
                    width: 33%;
                    height: 100%;

                    .content {
                        margin-bottom: 10px;
                        .label {
                            font-weight: bold;
                        }
                    }
                }
            }

            .deleteBtn {
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 5px 10px;
                background-color: #c8b8ab;
                border-radius: 10px;
                border: none;
            }
        }
    }
}

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    background-color: #c8b8ab;
    box-shadow: 0px 0px 25px rgba(119, 99, 90, 1);
    border-radius: 30px;
    z-index: 100;
    padding: 0 20px;

    .title {
        margin: 10px 0;
    }

    .form_group {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        & > label {
            margin-bottom: 5px;
        }
    }

    .form_select {
        align-self: start;

        & > label {
            margin-right: 10px;
        }
    }

    .flex {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .Btns {
            padding: 3px 10px 3px 10px;
            border-radius: 5px;
            margin: 10px 5px 0 5px;
            background-color: rgba(119, 99, 90, 1);
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.menu_side {
    display: none;
    position: fixed;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.menu {
    display: none;
    align-self: flex-end;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.menu_hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .menu,
    .menu_side {
        display: block;
    }

    .navbar {
        position: fixed;
        width: 200px;
        height: 100vh;
        margin-left: 0;
        background-color: #c6beb9;
        z-index: 99;
    }

    .main_content {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;

        .wrapper_container {
            .student_container {
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .main_content {
        .wrapper_container {
            .student_container {
                .svg {
                    width: 20px;
                }

                .name {
                    font-size: 1.125rem;
                }

                .wrapper {
                    .container {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .main_content {
        .wrapper_container {
            .student_container {
                .svg {
                    width: 20px;
                }

                .name {
                    font-size: 1rem;
                }

                .wrapper {
                    flex-direction: column;
                    .container {
                        font-size: 0.8rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}
